In [37]:
#Importing modules
import pandas as pd
import matplotlib.pyplot as plt
from os import listdir
from os.path import isfile, join
import os

In [38]:
#Adding column names
col_names = ['age', 'sex', 'cp', 'rbp', 'scl', 'fbs', 'rer', 'mhra', 'eia', 'std', 'stss', 'fcv', 'tls', 'dhd']

In [39]:
#importing datasets
path=(r"C:\Users\Omar Baccus\Documents\GitHub\CapstoneProject\Capstone Data Storytelling\Files")
os.chdir (path)
data=[f for f in listdir(path) if isfile (join (path, f))]

In [40]:
#Identifying new list created with csv files
data

['processed.cleveland.data.csv',
 'processed.hungarian.data.csv',
 'processed.switzerland.data.csv',
 'processed.va.data.csv']

In [41]:
#Appending and saving files into new CSV
with open('dataset.csv', 'w') as newfile:  
    for filename in data:
        with open(filename) as csvfile:
            next(csvfile)  
            for row in csvfile:
                newfile.write(row)

In [42]:
#Reading csv
df=pd.read_csv('dataset.csv', names=col_names)

In [43]:
#Printing df info
df.info() #No missing values - 916 out of 916 entries present

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 916 entries, 0 to 915
Data columns (total 14 columns):
age     916 non-null float64
sex     916 non-null float64
cp      916 non-null float64
rbp     916 non-null object
scl     916 non-null object
fbs     916 non-null object
rer     916 non-null object
mhra    916 non-null object
eia     916 non-null object
std     916 non-null object
stss    916 non-null object
fcv     916 non-null object
tls     916 non-null object
dhd     916 non-null int64
dtypes: float64(3), int64(1), object(10)
memory usage: 100.3+ KB

In [44]:
df.head()

    age  sex   cp    rbp    scl  fbs  rer   mhra  eia  std stss  fcv  tls  dhd
0  67.0  1.0  4.0  160.0  286.0  0.0  2.0  108.0  1.0  1.5  2.0  3.0  3.0    2
1  67.0  1.0  4.0  120.0  229.0  0.0  2.0  129.0  1.0  2.6  2.0  2.0  7.0    1
2  37.0  1.0  3.0  130.0  250.0  0.0  0.0  187.0  0.0  3.5  3.0  0.0  3.0    0
3  41.0  0.0  2.0  130.0  204.0  0.0  2.0  172.0  0.0  1.4  1.0  0.0  3.0    0
4  56.0  1.0  2.0  120.0  236.0  0.0  0.0  178.0  0.0  0.8  1.0  0.0  3.0    0

In [45]:
df.tail() #Note the '?' entries

      age  sex   cp  rbp  scl fbs rer mhra eia std stss fcv tls  dhd
911  54.0  0.0  4.0  127  333   1   1  154   0   0    ?   ?   ?    1
912  62.0  1.0  1.0    ?  139   0   1    ?   ?   ?    ?   ?   ?    0
913  55.0  1.0  4.0  122  223   1   1  100   0   0    ?   ?   6    2
914  58.0  1.0  4.0    ?  385   1   2    ?   ?   ?    ?   ?   ?    0
915  62.0  1.0  2.0  120  254   0   2   93   1   0    ?   ?   ?    1

In [46]:
df.count().sum()

12824

In [47]:
df = df[df!='-9']

In [48]:
df.count().sum() #A total of 778 '-9' entries -> -9 entries identified as missing values in documentation

12046

In [49]:
df=df[df!='?']

In [50]:
df.count().sum() #A total of 972 '?' entries -> no mention of purpose in documentation

11074

In [56]:
df.to_csv('dataset_caps.csv', header=col_names)