In [1]:
#Importing Modules
import pandas as pd
import numpy as np
import scipy.stats as stats

In [2]:
df= pd.read_csv('data/dataset_caps.csv')

In [3]:
df.head()

   age  sex  cp    rbp    scl  fbs  rer   mhra  eia  std  new_dhd
0   67    1   4  160.0  286.0  0.0  2.0  108.0  1.0  1.5        1
1   67    1   4  120.0  229.0  0.0  2.0  129.0  1.0  2.6        1
2   37    1   3  130.0  250.0  0.0  0.0  187.0  0.0  3.5        0
3   41    0   2  130.0  204.0  0.0  2.0  172.0  0.0  1.4        0
4   56    1   2  120.0  236.0  0.0  0.0  178.0  0.0  0.8        0

In [4]:
df.tail()

     age  sex  cp    rbp    scl  fbs  rer   mhra  eia  std  new_dhd
911   54    0   4  127.0  333.0  1.0  1.0  154.0  0.0  0.0        1
912   62    1   1    NaN  139.0  0.0  1.0    NaN  NaN  NaN        0
913   55    1   4  122.0  223.0  1.0  1.0  100.0  0.0  0.0        1
914   58    1   4    NaN  385.0  1.0  2.0    NaN  NaN  NaN        0
915   62    1   2  120.0  254.0  0.0  2.0   93.0  1.0  0.0        1

In [5]:
df.groupby('new_dhd').mean()

,age,sex,cp,rbp,scl,fbs,rer,mhra,eia,std
new_dhd,,,,,,,,,,
0,50.542787,0.647922,2.767726,129.848329,227.735897,0.108861,0.545232,148.737789,0.141388,0.414433
1,55.936884,0.901381,3.648915,134.049145,176.667339,0.217593,0.651485,128.298729,0.595339,1.260086

In [6]:
#Gender Split
gender_s= df.sex.value_counts() / len(df)
print ("There's approximately an 80:20 male:female ratio in this dataset")
print (gender_s)

There's approximately an 80:20 male:female ratio in this dataset
1    0.78821
0    0.21179
Name: sex, dtype: float64

In [7]:
#Coronary Heart Blockage %
dhd_p= df.new_dhd.value_counts() / len(df)
print ('Approximately 55% of patients have a presence of blockage in one of their major coronary heart vessels')
print (dhd_p)

Approximately 55% of patients have a presence of blockage in one of their major coronary heart vessels
1    0.553493
0    0.446507
Name: new_dhd, dtype: float64

In [8]:
#Mean resting blood pressure of patients
rbp_m=df.rbp.mean()
print ('Mean resting blood pressure of patient is ',rbp_m)

Mean resting blood pressure of patient is  132.14235705950992

In [10]:
scl_m=df.scl.mean()
print ('Mean scl of patient is ',scl_m)

Mean scl of patient is  199.14672686230247

In [11]:
#Slicing dataset for above and below average blood pressure patients (>135)
high_rbp = df[(df['rbp'] >= 135)]
low_rbp = df[(df['rbp'] < 135)]

In [12]:
#Coronary Heart Blockage % for above avg
dhd_b= high_rbp.new_dhd.value_counts() / len(high_rbp)
print ('Approximately 61% of patients with high rbp have a blocked major coronary vessel')
print (dhd_b)

Approximately 61% of patients with high rbp have a blocked major coronary vessel
1    0.616046
0    0.383954
Name: new_dhd, dtype: float64

In [13]:
#Coronary Heart Blockage % for below avg
dhd_l= low_rbp.new_dhd.value_counts() / len(low_rbp)
print ('Approximately 50% of patients with low rbp have a blocked major coronary vessel, and the distribution is fairly equal')
print (dhd_l)

Approximately 50% of patients with low rbp have a blocked major coronary vessel, and the distribution is fairly equal
0    0.501969
1    0.498031
Name: new_dhd, dtype: float64

In [14]:
#Testing the null hypothesis that the mean of patients with blocked coronary vessels are the same for high rbp and low rbp
test1= stats.ttest_ind(high_rbp.new_dhd,low_rbp.new_dhd)
print ('The t statistic and p value are as follows ', test1)
print ('p value returned is extremely small')
print ('We can reject the null hypothesis that mean of both groups are the same')

The t statistic and p value are as follows  Ttest_indResult(statistic=3.428704762461102, pvalue=0.000635463898843048)
p value returned is extremely small
We can reject the null hypothesis that mean of both groups are the same

In [15]:
#Slicing the dataset by electrocardiographic results 
normal = df[(df['rer'] == 0)]
abnormal = df[(df['rer'] != 0)]

In [16]:
#Testing the null hypothesis that the mean of patients with blocked coronary vessels are the same for normal and abnormal rer
test1= stats.ttest_ind(normal.new_dhd,abnormal.new_dhd)
print ('The t statistic and p value are as follows ', test1)
print ('p value returned is fairly small')
print ('We can reject the null hypothesis that mean of both groups are the same, although they are close')

The t statistic and p value are as follows  Ttest_indResult(statistic=-2.9770516650884775, pvalue=0.0029871146239550065)
p value returned is fairly small
We can reject the null hypothesis that mean of both groups are the same, although they are close

In [17]:
#Slicing the dataset by gender
male = df[(df['sex'] == 1)]
female = df[(df['sex'] != 1)]

In [18]:
#Testing the null hypothesis that the mean of patients with blocked coronary vessels are the same for male and female
test1= stats.ttest_ind(male.new_dhd,female.new_dhd)
print ('The t statistic and p value are as follows ', test1)
print ('p value returned is extremely small')
print ('We can reject the null hypothesis that mean of both groups are the same')

The t statistic and p value are as follows  Ttest_indResult(statistic=9.801170700391797, pvalue=1.2388510565148495e-21)
p value returned is extremely small
We can reject the null hypothesis that mean of both groups are the same

In [19]:
#Testing the null hypothesis that the mean of patients with exercise induced angina are the same for high rbp and low rbp
test2= stats.ttest_ind(high_rbp.eia,low_rbp.eia)
print ('The t statistic and p value are as follows ', test2)
print ('p value returned is extremely small')
print ('We can reject the null hypothesis that mean of both groups are the same')

The t statistic and p value are as follows  Ttest_indResult(statistic=4.2310090982877755, pvalue=2.577756147698569e-05)
p value returned is extremely small
We can reject the null hypothesis that mean of both groups are the same